<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>이 어플리케이션은 사용자의 사진을 저장하기 위해 갤러리에 접근할 권한이 필요합니다 </string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NMFClientId</key>
	<string>dhrv0haxk0</string>
</dict>
</plist>
